numpy
pandas
torch
ipykernel
openpyxl
SpeechRecognition==3.10.4
pyaudio==0.2.14
spacy
PrettyTable
scikit-learn

# python -m spacy download en_core_web_sm
# python -m spacy download en_core_web_md
# python -m spacy download en_core_web_lg

# pip install -U pip setuptools wheel
# pip install -U spacy

